@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

:root {
  --color-red: #8e2424;
  --color-whitegrey: #667085;
}

body {
  height: 100vh;
}

/* Cabeçalho/Menu de navegação */
#nav-bar ul {
  list-style: none;
}

#nav-bar {
  max-width: 1440px;
  margin: auto;
  padding: 1.8rem 8rem 1.8rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 3.2rem;
}

.nav-pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.nav-pages ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-whitegrey);
  transition: color 0.2s ease-out 0.2s;
}

.nav-pages ul li a:hover {
  color: var(--color-red);
}

.nav-buttons {
  display: flex;
  gap: 1.2rem;
  border-radius: 0.8rem;
}

.nav-buttons button {
  all: unset;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-whitegrey);
  cursor: pointer;
  border-radius: 0.8rem;

  padding: 1rem 1.8rem 1rem 1.8rem;
}

.nav-buttons button:nth-child(2) {
  border: 0.1rem solid #8e2424;
  color: #ffffff;
  background-color: var(--color-red);
}

/* Primeira seção da página (Sobre nós)*/
#about-us {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

#about-us h1 {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-red);
  text-align: center;
  padding-inline: 3.2rem;
}

#about-us h2 {
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
  padding-inline: 3.2rem;
}

#about-us p {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  padding-inline: 3.2rem;
}

/* Segunda seção da página (Métricas e resultados)*/
#metrics {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.metrics-container {
  padding: 0 8rem 9.6rem;
}

.metrics-container-items {
  padding-inline: 3.2rem;
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.metrics-container-item {
  width: 100%;
  max-width: 280px;
}

.metric-title {
  font-weight: 600;
  font-size: 6rem;
  color: var(--color-red);
}

.metric-subtitle {
  margin-top: 1.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #101828;
}

.metric-description {
  width: 100%;
  margin-top: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-whitegrey);
  text-align: justify;
}

/* Sessão de carreiras */
#careers {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

#open-positions {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 9.6rem 8rem 6.4rem 8rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.positions-text-container-children {
  padding-inline: 3.2rem;
}

.text-container-children {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.position-text-titles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#careers-title {
  width: 100%;
  max-width: 12.5rem;
  padding: 0.4rem 1.2rem;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--color-red);
  background-color: #8e24240d;
  border-radius: 1.6rem;
}

.position-text-subtitle {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 3.6rem;
}

.position-description {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-whitegrey);
}

.positions-image {
  width: 100%;
  max-width: 1216px;
}

.positions-image img {
  width: 100%;
}

#available-positions {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8rem 9.6rem 8rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

#design,
#software-developer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

#design h2,
#software-developer h2 {
  width: 100%;
  max-width: 76.8rem;
  margin: auto;

  color: #101828;
  font-weight: 500;
  font-size: 2rem;

  text-align: left;
}

.jobs {
  width: 100%;
  max-width: 76.8rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.jobs-item {
  width: 100%;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.jobs-item h3 {
  color: #101828;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: left;
  text-wrap: wrap;
}

.salary {
  display: flex;
  gap: 2.4rem;
  text-align: left;
}

.salary span {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-whitegrey);
}

/* Seção de depoimentos */
#testimonials {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 9.6rem;
  margin: auto;
}

#testimonials-container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 3.2rem;
  text-align: center;
  margin: auto;
}

#testimonials-content {
  width: 100%;
  max-width: 1216px;
  background-color: #c3191908;
  border-radius: 1.6rem;
  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.quote-and-subheading,
#attribution {
  width: 100%;
  max-width: 1088px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.quote-and-subheading .subheading {
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-red);
}

.quote-and-subheading .quote {
  width: 100%;
  font-weight: 500;
  font-size: 3.6rem;
}

#attribution .avatar-and-text .avatar {
  width: 100%;
  max-width: 5.6rem;
  border: 50%;
}

.text-and-suportting-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.text-and-suportting-text .avatar-name {
  font-weight: 500;
  font-size: 1.6rem;
  color: #101828;
}

.text-and-suportting-text .avatar-profession {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-whitegrey);
}

/* Media Queries*/
@media (max-width: 1440px) {
  .metrics-container-item {
    width: 100%;
    max-width: 240px;
  }
}

@media (max-width: 1024px) {
  .metrics-container-item {
    width: 100%;
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .metrics-container-item {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 430px) {
  .metrics-container {
    padding: 0 2rem 2rem;
    text-align: center;
  }

  .metric-description {
    text-align: center;
  }

  .metrics-container-items {
    margin: auto;
    padding-inline: 1.5rem;
  }

  .metrics-container-item {
    margin: auto;
  }
}
